.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 3px 3px;
}

.logo {
  width: 120px;

}
.nav-items > ul {
  display: flex;
  list-style-type: none;

}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 2px;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
  padding: 15px 10px;
  margin: 5px 50px;
  justify-content: space-around;
  gap: 15px;
}

.res-card {
  padding: 15px;
  min-width: 100px;
  max-width: 250px;
  margin-bottom: 15px;
  background-color: #CAD5E2;
  border: 1px solid black;
  border-radius: 10px;
}
.search {
  padding: 10px;
}
.res-logo{
  width: 100%;
}

.filter{
  margin-left: 10px;
  cursor: pointer;
}